<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='/answers.css') }}" rel="stylesheet" type="text/css" />
    <title>Trivia Game Answers!</title>
</head>
<body>
    <h1>Your Score</h1>
    <div class="rolodex">
        <h2> You got the following questions correct: </h2>
        {% for question in results.correct %}
            <ul class="question"> {{ question.getQuestion() | safe }} </ul> 
            <ul class="answer"> Your answer of {{ question.correct_answer | safe }} is correct! </ul>
        {% endfor %}
        <h2> You got the following questions incorrect: </h2>
        {% for question in results.incorrect %}
            <ul class="question"> {{ question.getQuestion() | safe }} </ul>
            <ul class="answer"> The correct answer is: {{ question.correct_answer | safe }} </ul>
        {% endfor %}
        <button class="btn" action="http://127.0.0.1:5000/" method="GET"> Play Again </button>
    </div>
</body>
</html>